name: Django-app workflow

on:
  push:
    branches: [ main ]

jobs:
    # Запустить тестирование приложения
  tests:
    runs-on: ubuntu-latest
    steps:
  # Собрать и отправить образ приложения на DockerHub
  build:
    runs-on: ubuntu-latest
    needs: tests # Не выполнять сразу, ждать, пока выполнится tests
    steps:
  # Деплой приложения на удалённый сервер
  deploy:
    runs-on: ubuntu-latest
    needs: build # Не выполнять сразу, ждать, пока выполнится build
    steps:
    build_and_push_to_docker_hub:
    name: Push Docker image to Docker Hub
      - name: Check out the repo
        # Проверка доступности репозитория Docker Hub для workflow
        uses: actions/checkout@v2 
      - name: Set up Docker Buildx
        # Вызов сборщика контейнеров docker
        uses: docker/setup-buildx-action@v1 
      - name: Login to Docker 
        # Запуск скрипта авторизации на Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }} 
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        # Пуш образа в Docker Hub 
        uses: docker/build-push-action@v2 
        with:
          push: true
          tags: andreygurtovoy/infra_actions:latest
